body { 
    font-family:Titillium Web;
    line-height:1.5em;
    color: #424242;
    background-color: #e8e8e8;
}
#wrap {
    width:40em;
    margin: 0 auto;
    padding: 0 0;
    position:relative;
}
#logo {
    width: 150px;
    padding:0;
    margin: 0 auto;
}
.deletebutton {
    float:right;
    margin: 0 0;
    padding: 0 0;
}
.approvebutton {
    float:right;
    margin: 0 0 0 0.5em;
    padding: 0 0;
}
.login {
    float:right;
}
.messageheader.unapproved {
    background-color: yellow;
}
.messageheader {
    width: 40em;
    margin: 0 0;
    padding: 0 0;
}
.separator {
    position: relative;
    height: 0;
    width: 100%;
    border: 0;
    border-top: 1px solid #fafaf9;
    border-bottom: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0 0;
}
.thismorning {
    text-align:center;
    line-height:1em;
}

.date {
    width: 5em;
    font-size:1em;
    position:absolute;
    top: 0em;
    left: 0em;
}
.number {
    width: 6em;
    font-size:1em;
    position:absolute;
    text-align:right;
    top: 0em;
    right: 0em;    
}
.welcome {
    text-align: center;
    font-style: italic;
}
.message {
    width: 38em;
    margin: 0 auto;
}
.messagetitle {
    font-weight:600;
    margin: 0 0 0.2em 0;
    font-size: 1.5em;
    text-shadow: 0px 1px 1px #fff;
    clear:both;
}
.sender {
    color:#848484;
    float:left;
    margin: 0 0;
}
h1 {
    font-weight:800;
    margin: 0.4em 0;
    font-size: 4em;
    text-align:center;
}
