{% extends "layout.html" %}
{% block body %}
{% for entry in entries %}
{% if session.logged_in or entry.approved %}
<div class="message {{ entry.id }}">
<div class="separator"></div>
<div class="messageheader {% if not entry.approved %}unapproved{% endif %}">
  <p class="sender">{{ entry.sender }} | 
    <code>{{ entry.email }}</code>
    | tags: {{ entry.tags|join(", ") }}
    {% if session.logged_in %}
    {% if not entry.approved %}
    <dd><input class="approvebutton" type=button value=Approve onClick="appnews({{ entry.id }})"></dd>
    {% endif %}
    <dd><input class="deletebutton" type=button value=Delete onClick="delnews({{ entry.id }})"></dd>
    {% endif %}
  </p>
  <p class="messagetitle">{{ entry.title }}</p>
</div>
<p class="messagebody">{{ entry.body|safe }}</p>
</div>
{% endif %}
{% endfor %}


<div class="separator"></div>
<button id="addPost">Add post</button>
<button id="testPost" onClick="testPost()">Test post</button>
{% if not session.logged_in %}
<form action="{{ url_for('login') }}" style="display:inline">
  <input type="submit" class="login" value="Login" style="display:inline">
</form>
{% else %}
<form action="{{ url_for('logout') }}" style="display:inline">
  <input type="submit" class="login" value="Logout" style="display:inline">
</form>
{% endif %}
<form style="display:none" id="entryForm" class=add-entry>
  <dl>
    <div class="formcolumn">
    <dt>Name:
      <dd><input type=text size=30 name=sender>
    </div>
    <div class="formcolumn">
    <dt>Email:
      <dd><input type=email  size=30 name=email>
    </div>
    <div class="formcolumn">
    <dt>Title:
      <dd><input type=text size=30 name=title>
    </div>
    <dt>Body:
      <dd><textarea name=body rows=5 cols=50></textarea>
	<div id="tags">
	  {% for tag in tags %}
	  <input type="checkbox" name="tag[]" value="{{ tag }}" />{{ tag }}<br />
	  {% endfor %}
	</div>
      <dd><input type=button value=Post onClick="submitEntry()">
  </dl>
</form>
{% endblock %}
